JSON_GEN_Schemas/new 2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="JSON" type="JSONType"/><xs:complexType name="JSONType"><xs:sequence><xs:element type="xs:byte" name="userId" minOccurs="0"/><xs:element type="xs:byte" name="id" minOccurs="0"/><xs:element type="xs:string" name="title" minOccurs="0"/><xs:element type="xs:string" name="body" minOccurs="0"/><xs:element type="JSONType" name="JSON" maxOccurs="unbounded" minOccurs="0"/></xs:sequence></xs:complexType></xs:schema>