WebServiceFROMWSDL/Request.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/first project/WebService FROM WSDL/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/first project/WebService FROM WSDL/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EmployeID" type="xs:string" minOccurs="0"/>
				<xs:element name="RegisterNum" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>