WebServiceFROMWSDL/Respond.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/first project/WebService FROM WSDL/Schema.xsd2"
	 targetNamespace="http://www.tibco.com/schemas/first project/WebService FROM WSDL/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Employedetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="0"/>
				<xs:element name="location" type="xs:string" minOccurs="0"/>
				<xs:element name="project" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>